/*PRINCIPAL*/

  
  
    




@font-face{
  src:url(../fonts/LEMONMILK.ttf);
  font-family: nos;
}
  
@font-face{
  src:url(../fonts/VanillaCaramel.ttf);
  font-family: nosotros2;
}
  
@font-face{
  src:url(../fonts/ADELIA.ttf);
  font-family: nosotros3;
}

@font-face{
  src: url(../fonts/MANOLETE.ttf);
  font-family: nosotros;
    }
  
*{
  margin: 0%;
  padding: 0%;
  list-style: none;
  Text-decoration: none;
    
}

/*INICIO INDEX.HTML*/

.gradient{ 
  padding-top: 13px;
  background-image: linear-gradient(-20deg, #dac5f9 0%, #cae5f8 100%);
}

img{
  width: 100%;
}

header{
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto;
}

a{
  font-family: 'Inter';
}

.logo {
  width: 120px;
  margin-top: 8px;
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}

nav ul li a {
    text-decoration: none;
    font-family:'Inter';
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600px;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li a:hover {
    background: #f6f4ff;
}

nav ul li a.active {
    color: #fefefe;
    background: #8f87f5;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}

.hamburger:hover {
    background: transpa
    rent;
}

.hamburger .line {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}

@media only screen and (max-width: 1100px) {
    header {
        width: 90%;
        padding: 0 20px;
    }
    nav {
        font-family: 'Inter';
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 15px;
        border-radius: 5px;
    }
    .hamburger {
        display: block;
    }
}

.titulo_index{
    padding-top: 220px;
    color: #2A2A2A;
    font-family: Abril Fatface;
    font-size: 86px;
    line-height: 121px;
    letter-spacing: 2px;
    font-weight: 400;
   margin-left: 189px;
}

.titulo_principal{
    padding-bottom: 200px;
    font-family: nos;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
    text-align: center;
    color: #000;
}

  .subtitulo_index{
    padding-bottom: 220px;
    padding-left: 197px;
    color: #2A2A2A;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 26px;
    margin: 0 0 60px 0; 
  }  

  .subtitulo_index a{

    text-decoration: none;
  }

  .titulo_historia{
      text-align: center;
      color: #2A2A2A;
      font-family: Abril Fatface;
      font-size: 46px;
      line-height: 65px;
      letter-spacing: 2px;
      font-weight: 400;
      margin: 0 0 20px 0;
      padding-left: 153px;
      padding-top: 50px;
  }
  
  .container-all{
    width: 100%;
    max-width: 1000px;
    margin:auto;
    margin-top: 55px;
    padding-bottom: 74px;
  }
  
  .container-all img{
  width: 420px;
  height: 286px;
  float: right;
  margin-right: 50px;
  margin-bottom: 20px;
  border-radius: 13px;
  margin-left: 20px;
  }

  .container-all p {
  color: #2A2A2A;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 300px;
  margin-top: 20px;
  padding-bottom: 40px;
  padding-left:20px ;
  padding-right:40px ;
  padding-top:30px;
}

footer{
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 32px;
  color: #8E8E8E; 
  display: block;
}

/*NEWS.HTML-*/
   
.body-news{
  background-image: linear-gradient(to bottom, #91a5eb, #a9b3ef, #bfc2f3, #d2d1f7, #e4e1fb);
}

.titulo_news{
  font-family: nosotros;
  font-size: 73px;
  padding-top: 80px;
  color: #9b88d9;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-left: 153px;
}
  
.parrafo_news{
  display: inline-block;
  padding-left: 197px;
  color: #2A2A2A;
  font-weight: 53px;
  font-size: 20px;
  margin: 0 0 60px 0; 
  font-family: Abril Fatface;
  text-align: center;
  width: 331PX;
  padding-right:  20px;
  padding-left:20px ;
  padding-top:20px ;
  padding-bottom:20px ;
  margin: 20px;
  border-radius: 20px;
  border-radius: 13px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor_news{
  background-color: transparent;
  display: flex;
  justify-content:flex-start;
  flex-wrap:wrap;
}
  
.subtitulo_news{
  padding-bottom: 13px;
  padding-left: 197px;
  color: #2A2A2A;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 26px;
  margin: 0 0 33px 0; 
}  

/*MEDIA.HTML*/

.body-media{
  margin: 0;
  padding: 0;
}

.img-media{
  width: 100%;
}

.row-media{
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.navbar{
  background-color: red;
}

.column-media{
  flex: 25%;
  padding: 5px;
}

.column-media img{
  margin-top: 5px;
}



.body-media{
  background-image: linear-gradient(to bottom, #9476eb, #a691f1, #baacf6, #cec7f9, #e4e1fb)
}

.titulo_media{
  font-family: nosotros2;
  font-size: 73px;
  padding-top: 13px;
  padding-left: 153px;
  color:#8150c5;
}

.titulo_video{
  font-family: nosotros3;
  padding-left: 30px;
  text-align: left;
  color:#8150c5;
  margin-bottom: 20px;
  margin-top: 20px;
}

.body-profile{
  background-image: linear-gradient(to right, #dea5ff 0%, #c0b1ff 100%);
}

.profile_body{
  background-image: linear-gradient(to right, #dea5ff 0%, #c0b1ff 100%);
}

.titulo_profile{
  font-family: nosotros;
  font-size: 73px;
  padding-top: 80px;
  color: #9b88d9;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-left: 153px;
}







.contacto{
    height: 100vh;
    width: 100%;
}
  
input[type=submit] {
      width: 100%;
      background-color: #358292;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}
  
input[type=submit]:hover {
  background-color: #45a049;
}

.container-contacto{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
  }
  
  .container-contacto:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../media/beomgyu.jpg) no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
  }

  .contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
  .left{
    background: url("../media/beomgyu.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
  }
  
  .right{
    padding: 25px 40px;
  }
  
  .h2-contacto{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }
  
  .h2-contacto:after{
    content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 4px;
      width: 50px;
      border-radius: 2px;
      background-color: #2ecc71;
  }
  
  .field{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
  }
  
  .field:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  textarea{
    min-height: 150px;
  }
  
  .btn{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #2ecc71;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
  }
  
  .btn:hover{
      background-color: #27ae60;
  }
  
  .field:focus{
      border: 2px solid rgba(30,85,250,0.47);
      background-color: #fff;
  }
  
  @media screen and (max-width: 880px){
    .contact-box{
      grid-template-columns: 1fr;
    }
    .left{
      height: 200px;
    }
  }



















h1 {
font-size: 86px;
line-height: 121px;
letter-spacing: 2px;
font-weight: 400;
margin: 0 0 40px 0;
}













 .wrapper {
 padding-top: 120px;
 }
 .card-img-top {
 box-shadow: 0 5px 10px rgba(0,0,0,0.5);
 }
 .card-body{
     text-align: center;
     box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5)
 }
 .card-body h6 {
 font-size: 14px;
 text-transform: uppercase;
 color: deeppink;
 }
 .card-title {
 text-transform: uppercase;
 font-weight: bold;
 font-size: 24px;
 }
 
 .socials a {
 width: 40px;
 height: 40px;
 display: inline-block;
 border-radius: 50%;
 margin: 0 5px;
 }
 .socials a i {
 color: #fff;
 padding: 12px 0;
 }    
 
 .socials a:nth-child(1) {
 background: #3b5998;
 }.socials a:nth-child(2) {
 background: #ff0000;
 }.socials a:nth-child(3) {
 background: #007bb5;
 }.socials a:nth-child(4) {
 background: #ea4c89;
 }
 
 @media (max-width: 800px){
     .mx-30{
         margin-bottom: 30px;
     }
 }
 

 .subtitulo_profile{
  padding-left: 197px;
  color: #2A2A2A;
  font-family: 'Inter';
  font-weight: 300;
  font-size: 26px;
  margin: 0 0 60px 0; 
 }